xml test/smoothie lab/index.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="recipe">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string"></xs:element>
      <xs:element name="description" type="xs:string"></xs:element>
      <xs:element name="price" type="xs:decimal"></xs:element>
      <xs:element name="kcal" type="xs:string"></xs:element>
      <xs:element name="ingredients" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>